/* main Tic Tac Toe css */

@import url(http://fonts.googleapis.com/css?family=Roboto:100);

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

html, body {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	background-image: url('img/bg.png');
	color: white;
	height: 100%;
	width: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.card {
	width: 100%;
	height: 100%;
	min-height: 700px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#screen {
	width: 520px;
	background-color: #444444;
	overflow: hidden;

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;

	-webkit-box-shadow: 0px 0px 52px 7px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 52px 7px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 52px 7px rgba(0,0,0,0.75);
}

#appheader {
	width: 100%;
	height: 100px;
	background-color: #4CAF50;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#appheader, #appheader h1, #appheader span, #result {
	-webkit-transition: all, 0.5s, ease, 0s;
	-moz-transition: all, 0.5s, ease, 0s;
	-o-transition: all, 0.5s, ease, 0s;
	transition: all, 0.5s, ease, 0s;
}

#title, #button{
	margin: 20px;
}

#resetbutton {
	width: 40px;
	height: 40px;
	border: 2px solid white;
	background-color: transparent;
	background-image: url("img/reset.png");
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center center;

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
#resetbutton:hover {
	cursor: pointer;
}

#appbody {
	width: 100%;
}

table {
	border-collapse: collapse;
	width: 90%;
	height: 430px;
	margin: 5%;
}
	td {
		border: 2px solid #696969;
		width: 100px;
		height: 100px;
	}
	td:hover {
		cursor: pointer;
	}
	tr:first-child td {
		border-top: 0;
	}
	tr:last-child td {
		border-bottom: 0;
	}
	td:first-child {
		border-left: 0;
	}
	td:last-child {
		border-right: 0;
	}

.cross, .circle {
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center center;
}
.cross {
	background-image: url("img/cross.png");
}
.circle {
	background-image: url("img/circle.png");
}

#result {
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5em;
}